---
import Copyright from "@/components/auth/Copyright.astro";
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout>
  <div class="mb-4">
    <h3 class="font-semibold text-2xl text-gray-800">Iniciar Sesion</h3>
    <p class="text-gray-500">Por favor inicia sesión en tu cuenta.</p>
  </div>
  <div class="space-y-5">
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700 tracking-wide"
        >Email</label
      >
      <input
        class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="email"
        placeholder="mail@gmail.com"
      />
    </div>
    <div class="space-y-2">
      <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
        Contraseña
      </label>
      <input
        class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember_me"
          name="remember_me"
          type="checkbox"
          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
        />
        <label for="remember_me" class="ml-2 block text-sm text-gray-800">
          Recuerdame
        </label>
      </div>
      <div class="text-sm">
        <a href="#" class="text-green-400 hover:text-green-500">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="w-full flex justify-center bg-green-400 hover:bg-green-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
      >
        Ingresar
      </button>
      <a
        href="/register"
        class="w-full flex justify-center bg-gray-200 hover:bg-gray-300 text-gray-600 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500 mt-4"
      >
        ¿No tienes cuenta? Registrate
      </a>
    </div>
  </div>
  <Copyright />
</AuthLayout>
