---
import Copyright from "@/components/auth/Copyright.astro";
import AuthLayout from "@/layouts/AuthLayout.astro";

export const prerender = false;

const email = Astro.cookies.get("email")?.value ?? "";
const rememberMe = !!email;
---

<AuthLayout>
  <div class="mb-4">
    <h3 class="font-semibold text-2xl text-gray-800">Iniciar Sesion</h3>
    <p class="text-gray-500">Por favor inicia sesión en tu cuenta.</p>
  </div>
  <form class="space-y-5">
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700 tracking-wide"
        >Email</label
      >
      <input
        class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="email"
        name="email"
        value={email}
        placeholder="mail@gmail.com"
      />
    </div>
    <div class="space-y-2">
      <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
        Contraseña
      </label>
      <input
        class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="password"
        name="password"
        placeholder="Ingresa tu contraseña"
      />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember_me"
          name="remember_me"
          type="checkbox"
          checked={rememberMe}
          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
        />
        <label for="remember_me" class="ml-2 block text-sm text-gray-800">
          Recuerdame
        </label>
      </div>
      <div class="text-sm">
        <a href="#" class="text-green-400 hover:text-green-500">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
    </div>
    <div>
      <button
        id="btn-submit"
        type="submit"
        class="disabled:bg-gray-300 w-full flex justify-center bg-green-400 hover:bg-green-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-300"
      >
        Ingresar
      </button>

      <button
        type="button"
        id="btn-google"
        class="mt-5 disabled:bg-gray-300 w-full flex justify-center bg-red-400 hover:bg-red-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
          ><path
            d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
          ></path></svg
        >
        Ingresar con Google
      </button>
      <hr class="my-4 border-t-2 border-gray-300" />
      <a
        href="/register"
        class="w-full flex justify-center bg-white border border-gray-200 hover:bg-gray-100 text-gray-500 p-3 rounded-full tracking-wide font-semibold shadow-md cursor-pointer transition ease-in duration-300"
      >
        ¿No tienes cuenta? Registrate
      </a>
    </div>
  </form>
  <Copyright />
</AuthLayout>

<script>
  import { firebase } from "@/firebase/config";
  import { actions } from "astro:actions";
  import { GoogleAuthProvider, signInWithPopup } from "firebase/auth";
  import Swal from "sweetalert2";

  const form = document.querySelector("form") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit") as HTMLButtonElement;
  const btnGoogle = document.querySelector("#btn-google") as HTMLButtonElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit.setAttribute("disabled", "disabled");

    const formData = new FormData(form);

    const { data, error } = await actions.loginUser(formData);

    if (error) {
      Swal.fire({
        icon: "error",
        title: "Credenciales no son correctas",
        text: error.message,
      });
      btnSubmit.removeAttribute("disabled");
      return;
    }

    window.location.replace("/protected");
  });

  btnGoogle.addEventListener("click", async () => {
    btnGoogle.setAttribute("disabled", "disabled");
    const provider = new GoogleAuthProvider();

    try {
      //! Paso 1: obtener la credenciales del lado del cliente
      const credentials = await signInWithPopup(firebase.auth, provider);

      // // Paso 2: Vericar las credenciales en el backend
      const { error } = await actions.loginWithGoogle(credentials);

      if (error) {
        alert(error.message);
        btnGoogle.removeAttribute("disabled");
        return;
      }

      btnGoogle.innerText = "Redireccionando...";
      window.location.replace("/protected");
    } catch (error) {
      console.log(error);
    }

    btnGoogle.removeAttribute("disabled");
  });
</script>
