---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl">Página protegida</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est optio
    praesentium esse nesciunt voluptatum incidunt iusto adipisci? Velit non,
    reprehenderit incidunt, fugit autem magnam assumenda quaerat rem ducimus, ad
    officiis?
  </p>
</MainLayout>
