---
import Copyright from "@/components/auth/Copyright.astro";
import AuthLayout from "@/layouts/AuthLayout.astro";

export const prerender = false;

const email = Astro.cookies.get("email")?.value ?? "";
const rememberMe = !!email;
---

<AuthLayout>
  <div class="mb-4">
    <h3 class="font-semibold text-2xl text-gray-800">Registro</h3>
    <p class="text-gray-500">Por registra la información de tu cuenta.</p>
  </div>
  <form class="space-y-5">
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700 tracking-wide"
        >Nombre</label
      >
      <input
        class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="text"
        name="name"
        placeholder="John Doe"
      />
    </div>
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700 tracking-wide"
        >Email</label
      >
      <input
        class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="email"
        name="email"
        value={email}
        placeholder="mail@gmail.com"
      />
    </div>
    <div class="space-y-2">
      <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
        Contraseña
      </label>
      <input
        class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="password"
        name="password"
        placeholder="Ingresa tu contraseña"
      />
    </div>
    <div class="space-y-2">
      <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
        Repetir Contraseña
      </label>
      <input
        class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="password"
        name="confirmPassword"
        placeholder="Repite tu contraseña"
      />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember_me"
          name="remember_me"
          type="checkbox"
          checked={rememberMe}
          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
        />
        <label for="remember_me" class="ml-2 block text-sm text-gray-800">
          Recuerdame
        </label>
      </div>
    </div>
    <div>
      <button
        id="btn-submit"
        type="submit"
        class="disabled:bg-gray-300 w-full flex justify-center bg-green-400 hover:bg-green-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
      >
        Registrar
      </button>
      <a
        href="/login"
        class="w-full flex justify-center bg-white border border-gray-200 hover:bg-gray-100 text-gray-500 p-3 rounded-full tracking-wide font-semibold shadow-md cursor-pointer transition ease-in duration-300 mt-4"
      >
        ¿Ya tienes una cuenta? Ingresa
      </a>
    </div>
  </form>
  <Copyright />
</AuthLayout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";
  //import Swal from "sweetalert2";

  const form = document.querySelector("form") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit") as HTMLButtonElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit.setAttribute("disabled", "disabled");

    const formData = new FormData(form);

    const { data, error } = await actions.registerUser(formData);
    console.log({ data });

    if (error) {
      Swal.fire({
        icon: "error",
        title: "Credenciales no son correctas",
        text: error.message,
      });
      btnSubmit.removeAttribute("disabled");
      return;
    }

    window.location.replace("/protected");
  });
</script>
