---

---

<div class="pt-5 text-center text-gray-400 text-xs">
  <span>
    Copyright © 2021-{new Date().getFullYear()}
    <a
      href="https://codepen.io/uidesignhub"
      rel=""
      target="_blank"
      title="Ajimon"
      class="text-green hover:text-green-500">AJI</a
    ></span
  >
</div>
